<div class="row">
    <div class="col-lg-10">
        <span>Cards Against Humanity written in NodeJS. You need 4 players for a game to start.</span> <br>
        <a href="https://github.com/amirrajan/nodejs-against-humanity">The source is here. I accept pull requests.</a>.
    </div>
</div>
<hr />
<h4>Click below to join a game (or use the Create Game link at the top to start one)</h4>
<hr />
<div class="row" id="availableGames" >
    <div class="col-lg-10">
        <strong ng-show="availableGames.length == 0">no open games... use the Create Game link at the top to start one.</strong>
        <ul ng-repeat="game in availableGames">
            <li><button ng-click="joinGame(game.id)" type="button" class="btn btn-default">Join {{game.name}}</button> &nbsp; {{game.players}} of 4 players</li>
        </ul>
    </div>
</div>